APScheduler==3.11.2
boto3==1.42.42
botocore==1.42.42
certifi==2026.1.4
cryptography==46.0.4
email-validator==2.3.0
emergentintegrations==0.1.0
fastapi==0.110.1
google-ai-generativelanguage==0.6.15
google-api-core==2.29.0
google-auth==2.49.0.dev0
google-genai==1.62.0
google-generativeai==0.8.6
googleapis-common-protos==1.72.0
grpcio==1.76.0
grpcio-status==1.71.2
httpx==0.28.1
Jinja2==3.1.6
jmespath==1.1.0
MarkupSafe==3.0.3
passlib==1.7.4
proto-plus==1.27.1
protobuf==5.29.6
pydantic==2.12.5
pydantic_core==2.41.5
PyJWT==2.11.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-jose==3.5.0
python-multipart==0.0.22
PyYAML==6.0.3
requests==2.32.5
s3transfer==0.16.0
starlette==0.37.2
tzlocal==5.3.1
urllib3==2.6.3
uvicorn==0.25.0
