APScheduler==3.11.2
boto3==1.42.42
botocore==1.42.42
certifi==2026.1.4
cryptography==46.0.4
email-validator==2.3.0
fastapi==0.110.1
google-generativeai==0.8.6
httpx==0.28.1
Jinja2==3.1.6
jmespath==1.1.0
MarkupSafe==3.0.3
passlib==1.7.4
pydantic==2.12.5
pydantic_core==2.41.5
PyJWT==2.11.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-jose==3.5.0
python-multipart==0.0.22
PyYAML==6.0.3
requests==2.32.5
s3transfer==0.16.0
starlette==0.37.2
tzlocal==5.3.1
urllib3==2.6.3
uvicorn==0.25.0
